body {
	background-color: black;
	margin: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container .logo {
	width: 30%;
	height: 30%;
	/* animation: 4s pulse ease-in-out infinite; */
	opacity: 1;
	z-index: 1;
	/* transition: opacity .5s ease-out, transform .1s ease-out .5s; */
}
/* .container .logo:hover {
	animation-play-state: paused;
} */

.container .banner {
	/* display: none; */
	width: 100%;
	height: 100%;
	/* box-shadow: 0 0 100px rgba(255, 255, 255, 0.5); */
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.fade-out {
	animation: .5s fadeOut ease-out .5s forwards;
	z-index: -1;
}

.fade-in {
	animation: .5s fadeIn ease-in .5s forwards;
	z-index: 1;
}


@keyframes pulse {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes scaleOut {
	from {
		scale: 1;
	}
	to {
		scale: 0;
	}
}
@keyframes scaleIn {
	from {
		scale: 0;
	}
	to {
		scale: 1;
	}
}