body {
	background-color: black;
	margin: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container .logo {
	width: 30%;
	height: 30%;
	animation: 4s pulse ease-in-out infinite;
	transition: opacity 1s ease-out, transform .1s ease-out 1s;
}
.container .logo:hover {
	animation-play-state: paused;
}

.container .banner {
	/* display: none; */
	opacity: 0%;
	width: 100%;
	height: 100%;
	/* box-shadow: 0 0 100px rgba(255, 255, 255, 0.5); */
	position: absolute;
	z-index: -1;
}

.fade-out {
	opacity: 0;
	transform: scale(0);
	z-index: -9;
}

.fade-in {
	animation: 1s fadeIn ease-in 1s forwards;
	z-index: 1;
}


@keyframes pulse {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}